/* eNews */

	.enews input[type="submit"],
	.search-form input[type="submit"] {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

/* Gravity Forms */

	.content div.gform_wrapper input,
	.content div.gform_wrapper select,
	.content div.gform_wrapper textarea,
	.content div.gform_wrapper .ginput_complex label {
		@include rem(font-size, 16px);
		@include rem(padding, 16px);
	}

	.content div.gform_wrapper input[type="submit"] {
		@include rem(padding, 16px 24px);
	}

	.content div.gform_wrapper .ginput_complex label {
		padding: 0;
	}

	div.gform_wrapper li,
	div.gform_wrapper form li {
		@include rem(margin, 16px 0 0);
	}
/* header image and navbar incl animation*/
.site-header .title-area
{
    display: initial !important;
    min-height: auto !important;
    width: inherit !important;
}
.site-header .site-title{
	//margin-left:50%;
	width: 100% !important;
	min-height:initial !important;
	margin:0px !important;
}
.nav-primary{
	float:right;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	background-color:transparent !important;
}
header.site-header{
	background-image:none !important;
}
.site-header {
	padding-bottom:0px !important;
	min-height: initial;
	.genesis-nav-menu a {
	    color: $dark;
	    padding-top: 49px;

	}
}
header.site-header .wrap {
    padding-top: 7px;
    padding-bottom: 7px;
    // set animation
	-webkit-transition: all 0.9s ease;
	transition: all 0.9s ease;
}
header.site-header{
	position: fixed;
	width:100%;
	background-color:rgba(38,38,38,0.2) !important;
	// set animation
	-webkit-transition: all 0.9s ease;
	transition: all 0.9s ease;
	z-index:100;
}

.header-image .site-title a{
	min-height:initial !important;
}
.site-header.theme-change {
	background-color:rgba(38,38,38,1) !important;
	.wrap {
	    padding: 0px 0px;
	}
	.genesis-nav-menu a {
	    color: $light;
	    padding-top: 49px;
	}
	.site-title
	{
	    display: initial !important;
	    min-height: 49px !important;
	    overflow: hidden !important;
	    width: 100% !important;
	    margin:initial !important;
	}
	.site-title a{	
		width: 100% !important;
		margin-left: 0px !important;
		margin-top:0px !important;
	}
}
.site-header .site-title a{
	width: 100% !important;
}
//solil slider
ul.soliloquy-slider.soliloquy-slides.soliloquy-wrap.soliloquy-clear{
	.soliloquy-caption-inside {
	    padding-top: 12% !important;
	    background: transparent !important;
	    font-size: 2em !important;
		p.soliloquy-fc-caption-title {
		    font-size: 2em;
	    	text-transform: uppercase;
	    	font-style: italic;
    		font-weight: bold;
    		padding-bottom:45px;
		}
		p.soliloquy-fc-caption-body{
			padding-bottom:45px;
		}
	}
	img{
		width:100% !important;
	}

}
//positoins the homes caption properly
.home ul.soliloquy-slider.soliloquy-slides.soliloquy-wrap.soliloquy-clear{
	.soliloquy-caption-inside {
	    padding-top: 23% !important;
	}
}
/*Dunami Effect BTN*/
a.dunami-effect.btn.btn-default {
    padding: 15px 20px;
    background-color: rgba(255,255,255,0.9);
    border: 1px solid $color-extra;
    font-size: 16px;
    color:$dark;    
	-moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.62s ease-in-out;
    text-transform: uppercase;
    line-height: 1;
    border-radius:0px !important;
   
}
a.dunami-effect.btn.btn-default:hover {
    background-color: transparent;
    border: 1px solid $light;
    color: $light;
    box-shadow: inset 0 0 0 50px rgba(209, 49, 56, 0.9);
}

a.dunami-effect.btn.btn-default.reverse {
    background-color: rgba(209, 49, 56, 0.9);
    border: 1px solid $color-extra;
    color:$light;    
}
a.dunami-effect.btn.btn-default.reverse:hover {
    background-color: transparent;
    border: 1px solid $color-extra;
    color: $color-extra;
    box-shadow: inset 0 0 0 50px rgba(255,255,255,0.9);
}

//home page specific tags
.home 
{
	.entry-content p {
	    margin-left: 12%;
	}
}
//modified carosel sass
.dunami-carousel-custom {
	position: relative;
    text-align: center;
    background: #fff;
    z-index: 2;
    margin-bottom: -1px;
    margin: 20px auto;
    width: 100%;
    margin-top: 0px !important;
	.indicator-row    {
		position: relative;
		width: 100%;
		margin-bottom: 1.5em;
		text-align: center;
		background: #f5f7fa;
		border-bottom: 2px solid #eef1f5;
		display: table;
		.carousel-indicators{
			width: 100%;
			display: table;
			.indicator{
				color: $dark;
				position: relative;
			    display: table-cell;
			    vertical-align: middle;
		    	cursor:pointer;
		    	border-right: 1px solid $textColor;
				border-collapse: separate;
				border-spacing: 10px;
				line-height: 1;
				padding:35px 10px;
			    font-weight: normal;					
			    // set animation
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;				

		    }
		    .indicator:hover{
		    	background-color: #cecece;
		    }
			.active{
				text-shadow:0px 0px 1px black;
			    // set animation
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;				
			}
			.active::before{
				content: '';
			    width: 0px; 
			    height: 0px;
			    border-left: 65px solid transparent;
			    border-right: 65px solid transparent;
			    border-bottom: 50px solid #f5f7fa;
			    position: absolute;
			    bottom: 85px;
			    left:85px;			    

			}
			.active:hover::before{
				content: '';
			    width: 0px; 
			    height: 0px;
			    border-left: 65px solid transparent;
			    border-right: 65px solid transparent;
			    border-bottom: 50px solid #cecece;
			    position: absolute;
			    bottom: 85px;
			    left:85px;				

			}
		    .indicator:last-child{
				margin-right: none;
		    }
		}
	    div.title{
	    	color: $color-extra;
	    	font-weight: bold;
			position: relative;
		    display: table-cell;
		    vertical-align: middle;
		    font-size: 20px !important;
		    line-height: 1;
			border-right: 1px solid $textColor;
	    }
		div.space{
			min-width:80px;
			border:none !important;
			position: relative;
		    display: table-cell;			
		}
	    div.item:last-child {
		    margin-right: 0;
		}
	}
	.carousel-inner div.item {
	    margin: auto;
	    .text{
	    	color: $light;
	    	max-width: 425px;
	    	text-align:left;
	    	h2{
			    color: $light;
			    padding-top: 33%;
			    font-weight: normal;
			    font-size: 33px;
			    line-height: 1;
			    margin-bottom: 5px;
	    	}
	    	p{
	    		

	    	}
	    }
	    .zoom-picture.col-md-5 {
    		height: 447px;
    		float: right;
    		padding: 0px !important;
			img{
				height: 1px;
			    // set animation
				-webkit-transition: all 0.25s ease;
				transition: all 0.25s ease;				
			}
		} 
	}
	.carousel-inner div.item.active {
	    .zoom-picture.col-md-5 img {
    		height: 447px;
    		float: right;    		
		}

	}
	.carousel-inner div.item.active.prev {
	    .zoom-picture.col-md-5 img {
    		height: 1px !important;
		}
		 
	}		
	.carousel-outer {
		.controls {
		    position: absolute;
		    bottom: 60%;
		    left: 21%;
		    width: 27%;
		    span.glyphicon{
				text-shadow:0 1px 2px rgba(0,0,0,.6);
				color: $light;
				font-size:2em;
		    }

		}
	}
}
//home page fowm
.id-key-influences.item{
	background-image:url('./images/influencers.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.ignore-irrelevant.item{
	background-image:url('./images/irrelevant.jpg');
	background-size: cover;	
	background-attachment: fixed;
}
.see-connections.item{
	background-image:url('./images/connections.jpg');
	background-size: cover;		
	background-attachment: fixed;
}
.discover-networks.item {
	background-image:url('./images/networks.jpg');
	background-size: cover;		
	background-attachment: fixed;
}
//solutions fowm
.brand-management.item {
	background-image:url('./images/brand-management.jpg');
	background-size: cover;		
	background-attachment: fixed;
}
.public-relations,.social-media{
	background-image:url('./images/public-realtions.jpg');
	background-size: cover;		
	background-attachment: fixed;
}
.corporate.item{
	background-image:url('./images/communication.jpg');
	background-size: cover;		
	background-attachment: fixed;
}
#hands-accross-table {
	// background-color:blue;
	background-image:url('./images/hands-accross-table.jpg');
	background-size: cover;		
	background-attachment: fixed;
}

//extra footer
div#lets-talk-footer{
	background-image:url('./images/lets-talk-bg.jpg');
    min-height: 310px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;		
	.wrap{
		text-align: center;
		margin: auto;
		h2{
			padding-top: 50px;
			color: $color-extra;
			font-style: italic;	
			font-family: $sansFontFamily;		
		}
		p{
			padding-bottom:25px;
			font-weight: 400;
			color: $dark;
			span{
				font-weight: 800;
				text-transform: uppercase;
				font-style: italic;
			}
		}
		a.dunami-effect.btn.btn-default{
			background: rgba(255,255,255,0.3);
		}
	}
}
//Footer
footer.site-footer {
	.wrap{
		padding-bottom:25px !important;
		padding-top: 0px;
		border:none !important;
		ul#menu-footer {
			h4{
				color:$color-extra;
				text-transform: uppercase;
				font-weight: bold;
				line-height:1;

			}
		    max-width: 210px;
		    margin: auto;
			li {
				  display: block;
				  a{
				  	color:$textColor;
				  }
				  a:visited{
				  	color:$textColor;
				  }				  
			}
		}		
		p {
			span{
				display: block;
				a{
					padding-right:20px;
					color: $textColor;
				}
				a:hover{
					text-decoration: none;

				}
			
			}
		}
	}
}
#success-stories{
	.carousel-outer{
		background-image:url('./images/testimonials-bg.jpg');
	    background-size: cover;
	    background-attachment: fixed;		
	}
	li.indicator.active img{
		opacity: 1;		
	}
	.indicator{
		border: none !important;
		img {
			// set animation
			-webkit-transition: all 0.25s ease;
			transition: all 0.25s ease;	
			opacity:0.2;
		}
		.active,img:hover{
			opacity: 1;
		}
	    padding-top: 10px !important;
	    padding-bottom: 0px !Important;
	}
	.item{
		min-height:460px;
		// background-color:$color-extra;
		color: $light;
		p.head-title{
			padding-top:100px;
			padding-bottom:50px;
			font-size: 1.5em;			
		}
		p.quote{
			font-style: italic;
			font-size: 1.8em;
		}
		p.person{
			font-size: 1.2em;
			text-transform:uppercase;
    		padding-top: 15px;
		}
	}
}
//heading colors
h1, h2, h3, h4, h5, h6, .entry-title a, .site-title{
	color:$dark;
	font-weight: normal;
}
.alt-size-b.second p.text{
	line-height: 2.25;
}
.col-md-2.alt-size-b.third p.text{
	line-height: 2;	
}
.alt-size-a{
	height: 375px;
	h2{
		text-align: center;
		color: $light;
		font-weight: normal;
	    margin-bottom: 35px;
	}
	.alt-size-b{
		height: 263px;

		img{
			filter:grayscale(100) contrast(100) invert(100)
		}
	}
}

.platform .alt-size-a{
	background-image:url('./images/alt-how-do-this.png') !important;
    background-size: cover;
    background-attachment:fixed;
	.color{
		div{
			background-color:$textColor;
		}
	}
    h2{
    	color: $dark;
    }

}
.three-row{
	background-image:url('./images/social-tiles-bg.jpg');
    background-size: cover;    
	min-height: 288px;
	color: $light;
    padding-top: 25px;
    padding-bottom: 30px;	
	.color{
		div{
			background-color:rgba(199, 79, 79,0.61);
			min-height: 235px;
			font-family: $serifFontFamily;
			img{
				padding-top: 7.5px;
				padding-bottom: 6px;
			}
			.number{
				font-size: 34px;
			}
			.head-title{
				font-size:28px;
				line-height: 1;
			}
			.text{
				text-align: justify;
				font-size: smaller;
			}
			.small{
				font-size: smaller;
			}
			.middle{
				font-weight: bold;
			}
		}
		.initial{
			text-align: center;
			margin-right: 0.5%;
    		width: 16.169%;
		}
		.second{
			text-align: center;
			// width: 16.169%;
		}
		.third{
			text-align: center;
			margin-left: 0.5%;
			width: 16.16%;
		}
		min-height: 235px;
	}
}
//about specific
.about {
	#static-section-2-area{
		.wrap{
			h2{
				padding-top: 35px;
			}
			max-width: initial !important;	
			.col-md-2{
				text-align: center;
				margin: auto;
				h2{
					margin: 0px !important;
					padding: 0px !important;
					line-height: 1;
				}
				p{
					text-transform: uppercase;
					font-size: smaller;
				}
			}		
			p{
				max-width: 1152px;
				margin: auto;				
			}
				.row-a{
					padding-top:100px;
				}			
				.row-b{
					padding-top:50px;
					padding-bottom: 30px !Important;
				}	
			
		}
	}
}

ul#menu-about {
	max-width: 850px;
    text-align: center;
    margin: auto;
	li,.nav-divider {
		margin-left: 0px;
    	list-style-type: none;
 	   display: inline;
	    font-weight: bold;
	    text-transform: uppercase;
	    a,a:visited{
	    	color: $textColor;
	    }
	}
	li:last-child{
		a{
		.nav-divider{
				display: none;
			}
		}
	}
}
.nav-divider{
	font-weight: normal !important;
	padding-left: 5px;
    padding-right: 5px;
}