//
// Variables
// --------------------------------------------------

// Color Scheme
$color-base: 			#262626 !default;//header bg color
$color-primary: 		#5B8D96 !default;
$color-secondary: 		#C45A3F !default;
$color-cta: 			#3E6B85 !default;
$color-extra: 			#D13138 !default;//dunami red

// Light and Dark
// -------------------------
$dark:                 #000 !default;
$light:                 #fff !default;

// Typography
// -------------------------
$textColor:             #808080 !default;
$googleFont:            "source-sans-pro" !default;
$googleFontWeight:      400 !default; // 400 or 700
$sansFontFamily:        "ff-tisa-sans-web-pro",sans-serif !default;
$serifFontFamily:       "source-sans-pro",sans-serif !default;

$baseFontFamily:        $sansFontFamily !default;
